@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@800&display=swap');

body{
    display: flex;
    justify-content: center;
    background: #1C1C1C;;
}

#container {
    display: flex;
    width: 550px;
    height: 720px;
    margin-top: 15px;
    background: #F4F4F4;
}

#headingContainer {
    width: 550px;
    height: 285px;
    background: #6943FF
}

#headingPara {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.03em;
    color: white;
}

#inputBox {
    box-sizing: border-box;
    margin-left: 215px;
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;

    border: 2px solid #B295FF;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    /* or 42% */

    text-align: center;
    background: #6943FF;

}

::placeholder {
    color: white;
    /* opacity: 1; */
}

#headingButton {
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;

    background: #FFFFFF;
    border-radius: 5px;
    border: 0px;
    margin-left: 215px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 27px;
}

#footerContainer {
    width: 485px;
    height: 108.57px;
    text-align: center;
    margin-top: 86px;
    margin-left: 26px;

    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
}

#lengthInnerContainer {
    width: 346px;
    height: 59px;
    margin-top: 36px;
    margin-left: 77px;
}

#lengthTextHead {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

    color: #5A537B;
}

#lengthPara {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

#volumeInnerContainer {
    width: 485px;
    height: 108.57px;
    text-align: center;
    margin-top: 73px;

    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
}

#volumeTextHead {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

    color: #5A537B;
}

#volumePara {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

#MassInnerContainer {
    width: 485px;
    height: 108.57px;
    text-align: center;
    margin-top: 25px;

    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
}

#MassTextHead {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;

    color: #5A537B;
}

#MassPara {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}